{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
Introduction
{{ endblock }}

{{ block content }}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    You are invited to participate in a research study. We will start with some brief instructions. Please read the instructions carefully. We will ask you a few understanding questions to make sure everything is clear to you. While going through the instructions, you can click "Back" to return to the previous page and "Next" to proceed to the next page.
</p>

<p>
    When you are ready, click "Next" to start reading the instructions.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
