 {% load otree %}

<p>
  We will now proceed to Part 2 of the experiment.
</p>

<p>
  Recall that either Part 2 or Part 3 will be randomly chosen for payment. 
</p>


<p>
    {{ if participant.valence == 'bonus' }}

    If Part 2 is chosen for payment, we will increase your balance by $0. Additionally, you will soon choose whether to open {{ C.NUM_FORCED_OPEN }} boxes and look for the highest bonus or accept some sure bonus and not open any boxes. Your choice will be implemented if part 2 is chosen for payment.


    {{ else}}

    If Part 2 is chosen for payment, we will increase your balance by ${{C.START_VALUE_PENALTY}}. Additionally, you will soon choose whether to open {{ C.NUM_FORCED_OPEN }} boxes and look for the lowest penalty or accept some sure penalty and not open any boxes. Your choice will be implemented if part 2 is chosen for payment.

    {{ endif }}
</p>
