{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
All your answers were correct!
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
   Click "Start the {{ participant.valence }} task.'' to begin with the {{ participant.valence }} task.
</p>

<button style="float: right" class="btn btn-success btn-large">Start the {{ participant.valence }} task</button>

{% endblock %}


