{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
You are done with Part 1!
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    {{ text }}
</p>

<p>
    We will now proceed to Part 2 of the experiment.
</p>

<p>
    Recall that either Part 2 or Part 3 will be randomly chosen for payment. 
</p>


<p>
    {{ if participant.valence == 'bonus' }}
    
    If Part 2 is chosen for payment, we will increase your balance by $0. In Part 2, you choose whether to open {{ C.NUM_FORCED_OPEN }} boxes and look for the highest bonus or accept some sure bonus and not open any boxes.


    {{ else}}
    
    If Part 2 is chosen for payment, we will increase your balance by ${{C.START_VALUE_PENALTY}}. In Part 2, you choose whether to open {{ C.NUM_FORCED_OPEN }} boxes and look for the lowest penalty or accept some sure penalty and not open any boxes.

     {{ endif }}
</p>


<p>
    Click "Next" to learn more about Part 2.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
