{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
You are done with Part 1!
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    {{ text }}
</p>

<p>
    Before we continue with Part 2, we would like to know how you feel about Part 1. 
</p>

{{ formfields }}

<p>
    Click "Next" to continue.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
