{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    We will now describe <b>Part 3</b> of the experiment. 
</p>

<p>
    Recall that either Part 2 or Part 3 are randomly chosen to affect your balance. If Part 3 is randomly chosen to count, <b>we will add an additional payment of ${{C.PAYMENT_PART_2}} to your balance</b>. 
</p>
</p>
    In this part of the study, you only need to answer a few simple questions. Your additional payment from Part 3 will not be affected by your answers.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
