{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    You are invited to participate in a research study jointly run by the Department of Social and Decision Sciences at Carnegie Mellon University and the Department of Economics at Stanford University. <b>If you complete the study, you will receive a guaranteed payment of {{ C.PARTICIPATION_FEE|cu }}. You may also receive an additional payment of up to ${{ C.MAX_PAY }}, depending on your actions in the study.</b>
</p>

<p>
    On the next page, you will see a consent form. Please review it carefully before deciding whether you want to take part in this study.
</p>

<p>
    When you are ready, click "Next" to read the consent form.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
