{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
Thank you for your participation! What do you think? 
{{ endblock }}

{{ block content }}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    We would be grateful for any comments. Did you feel comfortable with the instructions? Were you confused? If you can tell us which apsectsaspects are confusing and what we can do better, we would be very grateful! Thanks in advance! 
</p>

{{ form.feedback }}
{{ formfield_errors 'feedback' }}

<p class="mt-3">
    After you are done providing feedback, click "Next."
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
