{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
All your answers were correct!
{% endblock %}

{% block content %}

{{ if session.config.dev_mode }}
<button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    Great, all your answers are correct. 
</p>

<p>
    To get a feel for the collaborative job, we will now ask you to complete a short trial version. You will open {{ C.NUM_PRACTICE}} boxes in the bonus task. In the meantime, a computer will open {{ C.NUM_PRACTICE }} boxes in the penalty task.
</p>

<p>
    This is just for practice. The outcome of this trial version will not affect your payment.
</p>

<p>
    When you are ready, click "Next" to continue.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}
